<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @sheet.description %>
</p>

<% if @sheet.user == current_user %>
    <%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<% end %>
<%= link_to 'Back', sheets_path %>
