// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sheets, #sheet {
  margin: 0 auto;
}

#sheet {
    width: auto;
    max-width: 1200px;
}

.box {
    margin: 5px;
    font-size: 12px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #bdc3c7;
    width: 350px;
}

.box.index-view {
    width: 350px;
}

.box.show-view {
    width: auto;
    max-width: 1200px;
    font-size: 14px;
    line-height: 1.5em;
}

.box img.sheet-img {
    diplay: block;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sheet-body {
    padding-top:0px
}

.sheet-description {
    padding: 5px;
    font-size: 13px;
}

.sheet-owner {
    margin-bottom: 0px;
}

.sheet-owner-actions {
    margin-top: 8px;
}

.sheet-owner-actions a {
    margin-right: 8px;
}

.sheet-owner-actions a.btn {
    margin-right: 0;
}

